<div class="home-layout">
  <mat-chip-listbox class="genres">
    <mat-chip-option selected >All</mat-chip-option>
    <mat-chip-option>Gaming</mat-chip-option>
    <mat-chip-option>Gaming</mat-chip-option>
    <mat-chip-option>News</mat-chip-option>
    <mat-chip-option>Apple</mat-chip-option>
    <mat-chip-option>Gadgets</mat-chip-option>
    <mat-chip-option>Machines</mat-chip-option>
    <mat-chip-option>Live</mat-chip-option>
  </mat-chip-listbox>
<!--   
  <mat-grid-list cols="5">
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
  </mat-grid-list> -->

  <div class="video-grid">
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
  </div>
</div>