<div class="home-layout">
  <mat-chip-listbox class="genres">
    <mat-chip-option selected><span localize="#GenresAll"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresGaming"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresGaming"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresNews"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresApple"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresGadgets"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresMachines"></span></mat-chip-option>
    <mat-chip-option><span localize="#GenresLive"></span></mat-chip-option>
  </mat-chip-listbox>
<!--   
  <mat-grid-list cols="5">
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
    <mat-grid-tile  *ngFor="let video of videos">
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </mat-grid-tile>
  </mat-grid-list> -->

  <div class="video-grid">
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
    <app-video-thumbnail class="thumbnail" *ngFor="let video of videos" [video]="video"></app-video-thumbnail>
  </div>
</div>