.video-page-layout {
  background-color: white;
  padding: 0 4vw;
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.video-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.channel-info {
  display: flex;
}

.channel-info>img {
  border-radius: 50px;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.8rem;
}

.channel-info>div .channel-name {
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
}

.channel-info>div>p {
  font-size: 0.8rem;
    color: rgb(96, 96, 96);
}

.sub-btn {
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 0;
  min-width: 4rem;
  margin-left: 2rem;
  transition: all 0.2s;
}

.sub-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.sub-btn:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.video-btns {
  display: flex;
  align-items: center;
}

.video-btns .spec {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 12px;
  margin-right: 0.5rem;
}

.video-btns .spec mat-icon {
  margin-right: 5px;
}

.small-icon-btn {
  background-color: rgba(0, 0, 0, 0.1);
  scale: 0.7;
}

.like-btn {
  max-height: 48px;
  margin-right: 0.5rem;
  border-radius: 50px;
}
.like-btn mat-button-toggle {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 36px;
  font-size: 12px;
  font-weight: 500;
}

.like-btn mat-button-toggle mat-icon {
  margin-right: 5px;
}

.description {
  max-width: 1280px;
  background-color: rgba(0, 0, 0, 0.1);
  white-space: pre-wrap
}

.suggestions {
  padding: 0 1rem;
}

.embedded-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.embed-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}