<div class="video-page-layout">
  <div *ngIf="video" style="flex: 2.5; width: 100%;">
    <div class="embed-container">
      <iframe class="embedded-video" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <h3 class="title">{{video.title}}</h3>
    <div class="video-info">
      <div class="channel-info">
        <img [src]="video.channelImg" alt="">
        <div>
          <div class="channel-name">{{video.channel}}</div>
          <p>{{video.subscribers}} subscribers</p>
        </div>
        <button class="sub-btn dark" mat-flat-button>Subscribe</button>
      </div>
      <div class="video-btns">
        <mat-button-toggle-group class="like-btn" name="like" aria-label="Font Style">
          <mat-button-toggle #likeBtn value="like">
            <mat-icon [ngClass]="{'material-icons-outlined': !likeBtn.checked}">thumb_up</mat-icon>
            {{video.likes}}
          </mat-button-toggle>
          <mat-button-toggle  #dislikeBtn value="dislike">
            <mat-icon [ngClass]="{'material-icons-outlined': !dislikeBtn.checked}">thumb_down</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-flat-button class="spec">
          <mat-icon class="material-icons-outlined">reply</mat-icon>
          Share
        </button>
        <button mat-flat-button class="spec">
          <mat-icon>file_download</mat-icon>
          Download
        </button>
        <button mat-icon-button class="small-icon-btn" [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">flag</mat-icon>
            Report
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">subtitles</mat-icon>
            Show Transcript
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel class="description" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              {{video.views}} views {{video.date}}
            </div>
            <div>Thanks to everyone for helping to set up this race:</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{video.descriptions}}</p>
      </mat-expansion-panel>
    </mat-accordion>
    

  </div>
  
  <div class="suggestions"  style="flex: 1">
    <app-video-thumbnail  *ngFor="let v of videos"  [video]="v" [horizontal]="true"></app-video-thumbnail>
    <app-video-thumbnail  *ngFor="let v of videos"  [video]="v" [horizontal]="true"></app-video-thumbnail>
    <app-video-thumbnail  *ngFor="let v of videos"  [video]="v" [horizontal]="true"></app-video-thumbnail>
    <app-video-thumbnail  *ngFor="let v of videos"  [video]="v" [horizontal]="true"></app-video-thumbnail>
    <app-video-thumbnail  *ngFor="let v of videos"  [video]="v" [horizontal]="true"></app-video-thumbnail>
  </div>
</div>